body {
  font-family: Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;  
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0;
    border: 2px solid transparent;
}

.wrapper {
    height: auto;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -30px;
}

.content-wrapper {
    min-height: 100%!important;
}

.well {
  color: #DDD;
  font-size: 12px;
  border: 1px solid #333;
  background-color: rgba(0, 0, 0, 0.3)!important;
  margin-left: 10px;
  margin-right: 10px;
}

.box.box-solid {
  border: 0!important;
  border-top: 3px solid #666!important;
}

.box.box-success {
  border-top-color: rgba(174, 205, 49, 0.5)!important;
}

.box.box-danger {
  border-top-color: #666!important;
}

.bg-black {
    background-color: #333!important;
}

.bg-navy {
    background-color: rgba(44, 59, 65, 0.7)!important;
}

.bg-green {
    background-color: rgba(174, 205, 49, 0.5)!important;
    color: #222!important;
}